@use "../helpers/variable";

// ---------- Change Container ----------
@mixin make-container() {
  // max-width:1260px
  padding-right: 30px;
  padding-left: 30px;
}

@media (min-width: 1200px) {
  .container {
    @include make-container();
  }
}

// ---------- Using Color Class Name ----------

@mixin color-text($color) {
  color: $color;
  transition: all 0.3s;
}

.orange-text-color {
  @include color-text(variable.$secondaryColor);
}

.primary-text-color {
  @include color-text(variable.$primaryColor);
}
.dark-text-color {
  @include color-text(variable.$blackColor);
}
.less-gray-color {
  @include color-text(variable.$thirdGrayColor);
}
.less-gray-color:hover {
  color: variable.$thirdGrayColor;
}
// .hover-to-primary-text:hover {
//   color: variable.$secondaryColor;
// }
.hover-to-primary-bg:hover{
  background: variable.$primaryColor;
}
.primary-bg{
  background: variable.$primaryColor;
}
.gray-bg {
  background: variable.$grayBackground;
}
.secondary-green-bg {
  background: variable.$secondaryprimaryColor;
}
.hover-to-secondary-text:hover{
  color: variable.$secondaryColor;
}

@mixin font-size() {
  $font-size-list: 14 16 18 20 24 28 32 36;

  @each $value in $font-size-list {
    .font-size-#{$value} {
      font-size: $value + px;
    }
  }
}

@mixin margin-top() {
  $margin-top-list: 10 15 20;

  @each $value in $margin-top-list {
    .margin-top-#{$value} {
      margin-top: $value + px;
    }
  }
}

@mixin margin-right() {
  $margin-right-list: 30;

  @each $value in $margin-right-list {
    .margin-right-#{$value} {
      margin-right: $value + px;
    }
  }
}

@mixin margin-bottom() {
  $margin-bottom-list: 10 15 20;

  @each $value in $margin-bottom-list {
    .margin-bottom-#{$value} {
      margin-bottom: $value + px;
    }
  }
}

@mixin margin-left() {
  $margin-left-list: 30;

  @each $value in $margin-left-list {
    .margin-left-#{$value} {
      margin-left: $value + px;
    }
  }
}

@mixin width-divide-part() {
  $width-part: 2 4 5 6;

  @each $value in $width-part {
    .width-#{$value} {
      width: calc(100% * 1 / $value);
    }
  }
}

@mixin font-weight-part() {
  $width-part: 200 300 400 500 600 700 800 900;

  @each $value in $width-part {
    .font-weight-#{$value} {
      font-weight: $value;
    }
  }
}

@include font-size();
@include margin-top();
@include margin-right();
@include margin-bottom();
@include margin-left();
@include width-divide-part();
@include font-weight-part();

// ---------- Common Class ----------

.section{
  padding:50px 0;
}

.page__title{
  & > span{
    display: block;
    margin-bottom:10px;
    color:variable.$secondaryColor;
    text-transform:uppercase;
    letter-spacing:3.5px;
  }
  h3{
    font-size: 42px;
    margin-bottom:25px;
    padding-bottom:10px;
    position: relative;
    &.has-border::after{
      content:"";
      position: absolute;
      top:100%;
      left:0;
      background:variable.$secondaryColor;
      height:3px;
      width:10%;
    }
    &.border-center::after{
      left:50%;
      transform:translateX(-50%);
    }
  }
  &.has-paragraph{
    max-width: 600px;
    h3{
      margin-bottom:10px;
      padding-bottom:0;
    }
    margin:0 auto;
    margin-bottom:30px;
  }
}

.play-btn{
  display: block;
    position: relative;
    background-color: variable.$secondaryColor;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin: 0 auto;
    cursor: pointer;
    animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 0);
    box-shadow: 0 0 0 0 rgb(233 183 84 / 50%);
    transition: all .3s;

    @keyframes pulse {
      to {
        box-shadow: 0 0 0 20px rgba(245, 91, 21, 0);
      }
    }

    &:after{
      content: "\f04b";
      font-family: "Font Awesome 5 Pro";
      color: #fff;
      position: absolute;
      font-size: 20px;
      font-weight: 900;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.5s;
    }
    &:hover{
      background: variable.$whiteColor;
      box-shadow: 0 0 0 0 rgb(246 0 1 / 30%);
      &:after{
        color:variable.$primaryColor;
      }
    }
}

.heading__section {
  margin-bottom: 30px;
  h3 {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
.only__heading {
  margin-bottom: 20px;
  h3 {
    font-size: 24px;
  }
}
.section__title {
  margin-bottom: 20px;
  h4 {
    font-size: 16px;
  }
}

.rating__stars {
  i {
    color: variable.$yellowColor;
    width: 20px;
    height: 20px;
  }
}
// Social Media
.social__media {
  margin-top: 14px;
  padding-left: variable.$paddingLeftMobile;
  & > li {
    display: inline-block;
    & > a {
      display: inline-block;
      font-size: 18px;
      line-height: 30px;
      width: 30px;
      height: 30px;
      border-radius: 36px;
      background-color: #cccccc;
      color: #fff;
      margin-right: 10px;
      text-align: center;
    }
  }
}

.search__form--box {
  & > div {
    margin-right: 17px;
  }
}

.breadcrumb__sort {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  .sort__result {
    a:not(:last-child) {
      margin: 0 8px;
    }
  }
}

.breadcrumb {
  li {
    a {
      color: variable.$blackColor;
      &:hover {
        color: variable.$primaryColor;
      }
    }
  }
  .breadcrumb-item + .breadcrumb-item::before {
    margin: 0 15px;
    padding: 0;
  }
}

.icon__title {
  i {
    color: #333;
  }
  margin-right: 10px;
}
span:first-child {
  font-weight: 700;
}
a {
  color: variable.$grayColor;
  &:hover {
    color: variable.$primaryColor;
  }
}



// Highlight
.list__check{
  margin-top:20px;
  li{
    position: relative;
    padding-left:18px;
    &::before {
      content: "\f00c";
      font-family: "Font Awesome 5 Pro";
      position: absolute;
      left: 0;
      color: variable.$primaryColor;
      font-size: 12px;
    }
  }
  * + li{
    margin-top:10px;
  }
  &.error{
    li{
      &::before {
        content: "\f00d";
        color: variable.$secondaryColor;
      }
    }
  }
}

.info__icon{
  position: relative;
  transition: all .2s ease-in-out;
  &::after{
  opacity: 0;
  position: absolute;
  right:-200%;
  bottom:200%;
  text-transform:none;
  background: #666;
  border-radius: 2px;
  color: #fff;
  content: attr(data-info);
  font-size: 14px;
  padding: 8px;
  width:max-content;
  max-width:250px;
  z-index: 5; 
  transform: scale3d(.2,.2,1) translateX(50%);
  transition: all .15s ease-in-out;
  }
  &:hover{
    &::after{
      opacity: 1;
      transform: scale3d(1,1,1) translateX(50%);
    }
  }
}

.breadcrumb__sort{
  padding-top:16px;
}

.background__image{
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: variable.$whiteColor;
}