// ---------- Color ----------
$primaryColor: #f60001;
$secondaryprimaryColor: #f60001;
$thirdprimaryColor: #083843;
$blackColor:#333;
$secondaryColor: #e9b754;
$grayColor: #989898;
$secondaryGrayColor: #999;
$thirdGrayColor: #d0d0d0;
$whiteColor: #fff;
$yellowColor: #faca1a;
$brownColor:#9c614d;
$grayBackground: #f5f5f5;

// ---------- Fonts ----------
$fontFamily:"Raleway", sans-serif;


// ---------- Color For Slider Dots ----------
$dotColor :rgba(102,102,102,.6);


// ---------- Padding Left In Mobile ----------
$paddingLeftMobile: 14px;
